en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
Flask==1.1.2
Jinja2==2.11.3
numpy==1.20.2
pandas==1.2.4
pyspellchecker==0.6.2
spacy==3.0.5
spacy-transformers==1.0.2
tokenizers==0.10.2
torch==1.8.1
tqdm==4.60.0
transformers==4.5.1
treetaggerwrapper==2.3